<h1>{{ title }}</h1>
<hr>

<div class="text-right">
  <button class="btn btn-primary"
    *ngIf="!changeView"
    (click)="changeViewUser()"  
  >
    Editar información
  </button>
  <button class="btn btn-danger"
    *ngIf="changeView"
    (click)="changeViewUser()"  
  >
    Cancelar
  </button>
</div>
<br>

<div class="row" *ngIf="changeView">
	<div class="col-lg-12">
		
		<form 
			[formGroup]="form"
			(ngSubmit)="editUser()"
			class="col-lg-12" 
		>
			<div class="row">
        <div class="col-lg-6">
          <div class="form-group">
            <div *ngIf="identity.image">
              <img [src]="identity | secureImage:'avatar'" class="img-thumbnail" width="300" height="auto" style="max-height: 350px; max-width: 350px">
            </div>
            <br>
            <div class="input-group mb-3">
              <div class="custom-file pointer">
                <input type="file" class="custom-file-input pointer" id="inputGroupFile02" (change)="fileChange($event)">
                <label class="custom-file-label labelInput">{{ textInputFile }}</label>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre</label>
            <input
              [ngClass]="{  'is-invalid': !form.get('name').valid && form.get('name').touched  }"
              formControlName="name"
              type="text"
              class="form-control" 
              placeholder="Nombre">
            <div
              *ngIf="form.get('name').errors?.required && form.get('name').touched"
              class="invalid-feedback"
            >
              Este campo es requerido.
            </div>
            <div
              *ngIf="form.get('name').errors?.minlength && form.get('name').touched"
              class="invalid-feedback"
            >
              Necesita por lo menos {{ form.get('name').errors?.minlength.requiredLength }} carácteres.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Apellido</label>
            <input
              [ngClass]="{  'is-invalid': !form.get('lastname').valid && form.get('lastname').touched  }"
              formControlName="lastname"
              type="text"
              class="form-control" 
              placeholder="Apellido">
            <div
              *ngIf="form.get('lastname').errors?.required && form.get('lastname').touched"
              class="invalid-feedback"
            >
              Este campo es requerido.
            </div>
            <div
              *ngIf="form.get('lastname').errors?.minlength && form.get('lastname').touched"
              class="invalid-feedback"
            >
              Necesita por lo menos {{ form.get('lastname').errors?.minlength.requiredLength }} carácteres.
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Nombre de Usuario</label>
            <input
              [ngClass]="{  'is-invalid': !form.get('nick').valid && form.get('nick').touched  }"
              formControlName="nick"
              type="text"
              class="form-control" 
              placeholder="Nick">
              <div
                *ngIf="form.get('nick').errors?.required && form.get('nick').touched"
                class="invalid-feedback"
              >
                Este campo es requerido.
              </div>
              <div
                *ngIf="form.get('nick').errors?.minlength && form.get('nick').touched"
                class="invalid-feedback"
              >
                Necesita por lo menos {{ form.get('nick').errors?.minlength.requiredLength }} carácteres.
              </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Correo Electrónico</label>
            <input
              [ngClass]="{  'is-invalid': !form.get('email').valid && form.get('email').touched  }"
              formControlName="email"
              type="email"
              class="form-control" 
              placeholder="Email">
              <div
                *ngIf="form.get('email').errors?.required && form.get('email').touched"
                class="invalid-feedback"
              >
                Este campo es requerido.
              </div>
              <div
                *ngIf="form.get('email').errors?.pattern && form.get('email').touched"
                class="invalid-feedback"
              >
                Ingrese un correo electrónico válido!.
              </div>
          </div>
        </div>   
        <div class="col-lg-12">
          <div class="text-center">
            <button
              [disabled]="!form.valid"
              type="submit"
              class="btn btn-primary"
            >
              Guardar Cambios
            </button>
          </div>
        </div>
      </div>
		</form>
		<br>
		<div
			*ngIf="status"
			[ngClass]="{ 'alert-success': success===true,  'alert-danger': success===false}"
			class="alert"
			role="alert"
		>
		  {{ message }}
		</div>
	</div>
</div>

<div class="row" *ngIf="!changeView">
  <div class="col-lg-6">
    <h3>Avatar de usuario</h3>
    <div *ngIf="identity.image">
      <img [src]="identity | secureImage:'avatar'" class="img-thumbnail" width="300" height="auto" style="max-height: 350px; max-width: 350px">
    </div>
  </div>
  <div class="col-lg-6">
    <div>
      <h3>Datos de usuario</h3>
      <p><strong>Nombre</strong>: {{ identity.name }}</p>
      <p><strong>Apellido</strong>: {{ identity.lastname }}</p>
      <p><strong>Nick</strong>: {{ identity.nick }}</p>
      <p><strong>Corréo electrónico</strong>: {{ identity.email }}</p>
    </div>
  </div>
</div>