<div class="row">
  <div class="col-md-8">
    <div class="row justify-content-md-center">
      <div class="col-md-10" *ngIf="publication">
        <div class="card mb-4">
          <div class="card-header card-user-header bg-transparent">
            <div
              class="card-avatar-user pointer"
              [routerLink]="['/user', publication.user._id]"
              [ngStyle]="{ 'background-image': 'url('+ (publication.user | secureImage:'avatar') +')' }"
            ></div>
            <div>
              <a class="card-link" [routerLink]="['/profile/'+publication.user._id]">
                <strong>
                  {{ publication.user.name + ' ' +publication.user.lastname }}
                </strong>
              </a>
            </div>
          </div>
          <div
            *ngIf="publication.file"
            class="card-img-publication"
          >
            <img class="card-img" [src]="publication | secureImage:'fileP'" alt="">
          </div>
          <div class="card-body">
            <span class="card-text-publication">{{ publication.text }}</span>
            <br>
            <span class="card-date-publication">{{ ( publication.createAd | amFromUnix ) | amLocale:'es' | amTimeAgo }}</span>
          </div>
          <div class="card-options" *ngIf="publication.user._id === identity._id">
            <button type="button" class="btn btn-transparent" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <fa-icon [icon]="faEllipsisH"></fa-icon>
            </button>
            <div class="dropdown-menu">
              <a class="dropdown-item pointer" (click)="openModal()">Eliminar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-sidebar
    class="col-md-4"
    [stats]="stats" 
  ></app-sidebar>
</div>

<!-- Modal -->
<div class="modal fade" id="modalDanger" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" *ngIf="publication">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-danger" id="exampleModalLabel">¿Esta seguro que desea eliminar esta publicación?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Una vez hecho no podras volver a recuperar esta información.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="closeModal()">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="deletePublication(publication._id)">Eliminar</button>
      </div>
    </div>
  </div>
</div>
